.App {
	display: flex;
	min-height: 100vh;
	background-image: url("../images/tmpBackground.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.main-content {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
}
